@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Current Counter Value: <strong>@ViewData["Counter"]</strong></p>
    <p>Current Square Value: <strong>@ViewData["Square"]</strong></p>
    <p>Current Square Value: <strong>@ViewData["NewNumber"]</strong></p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
